body {
    background-color: #C1FFD7;
    font-family: 'RocknRoll One', sans-serif;
    color: #506D84;
}
h1 {
    font-family: 'Rampart One', cursive;
    color: #506D84;
}
img {
    border-radius: 100%;
}